<form id="form_id" action="/login" method="post">

  <table>
    <tr>
      <td>
        Name:
      </td>
      <td>
        <input type="text" name="name" value="" required>
      </td>
    </tr>

    <tr>
      <td>
        Password:
      </td>

      <td>
        <input type="password" name="password" value="" required>
      </td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="action" value="Log in"></td>
    </tr>
  </table>




</form>

<p>

</p>
<p>

</p>
