<h3><u>Result</u></h3>
<p>
  NB: You can only play once and you should keep the result secret!<br>
  Merry Christmas!<br>
  Ensure you log out!
</p>

<p>
  You should get a gift worth £10 for <%= @view.name %>
</p>

<p>
  <a href="/logout">Log out</a>
</p>
